
  /*--------------------------
    1.ABOUT US - Main / Title/ text
    2.ABOUT US - Separator
    3.ABOUT US - Main / Pics elements
    4.ABOUT US - Footer / Hidden / elements
   ---------------------------*/

    /*background colous About_Us*/

.colmain_abus { 
    background-color: #222c3f;
}

.colsec_abus {
    background-color: #151f31;
}

.pink {
    background-color: #F646DF;
}

    /*colours TEXT About_Us*/

.col_abus_titles { 
    color: #fff;
}

.col_abus_text {
    color: #c8cacf;
}

.col_abus_eltitxt {
    color: #90959f;
}

.col_abus_hidtex {
    color: #8a8f98;  
}   

/* ABOUT US structure - Title/text*/

.at_about_us_main > h2 {
    font-size: 30px;
    margin-top: 64px;
    text-align: center;
    font-weight: 400;
    padding-top: 8px;
}
.at_about_us_main > h3 {
    font-size: 20px;
    margin-top: 19px;
    text-align: center;
    font-weight: 400;
    padding-top: 2px;
}

.at_about_us_main ~ p {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-top: 69px;
}
    /*Separator*/

.at_separator {
    width: 100%;
    text-align: center;
    position: relative;
    left: 5px;
    top: 31px;
}

.lines {
    margin-top: 23px;
    position: relative;
    display: inline;
}

.lines:after, .lines:before {
    content: '';
    width: 274px;
    height: 1px;
    background: #313a4c;
    position: absolute;
}

.lines:after {
    left: 11px;
}

.lines:before {
    right: 12px;
}

.circle {
    height: 16px;
    width: 16px;
    border: 1px solid #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 8px;
    position: absolute;
    display: inline-block;
}

.at_about_us_main ~ p {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-top: 69px;
}

    /* Main / Pics elements*/

.at_about_us_team {
    max-width: 1170px;
    width: 100%;
   
}

.at_about_us_team > .row {
    margin-top: 85px;
}

#at_about_us > div.at_about_us_team > div[class^="at_photo_pic"]:hover + #problem {
    display: block;
}

div[class^="at_photo_pic"] {
    width: 216px;
    height: 216px;
    border: 1px solid #fff;
    border-radius: 108px;
    background-color: #161f32;
}


.at_photo_pic1 {
    background: url("../img/team/john_doe.svg")no-repeat, no-repeat;
    background-size: cover;
    margin-left: 35px; 
}
.at_photo_pic2 {
    background: url("../img/team/lorem_ipsum.svg")no-repeat, no-repeat;
    background-size: cover;
     margin-left: 24px; 
}

.at_photo_pic3 {
    background: url("../img/team/lorem_doe.svg")no-repeat, no-repeat;
    background-size: cover;
    margin-left: 27px;
}

.at_photo_pic4 {
    background: url("../img/team/john_ipsum.svg")no-repeat, no-repeat;
    background-size: cover;
    margin-right: 0;
    margin-left: 41px;
}

div[class^="at_pic"] {
    margin-top: 16px;
    margin-bottom: 65px;
    width: 200px;
} 

div[class^="at_pic"] > h3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 23px;
    text-align: right;
}

div[class^="at_pic"] > p {
    font-size: 15px;
    font-weight: 300;
    text-align: right;
    margin-top: 10px;
}

.at_hiden1 {
    position: relative;
    right: 5px;                                                                                                                                                                             
    /*display: none;*/  
}  

.at_hiden1 > a {
    margin-left: 99%;
    position: absolute;
    top: 25px;
} 

.at_hiden1 > h3 {
    font-size: 20px;
    font-weight: 700;
    padding-top: 34px;
} 

div.at_hiden1 > h3 + p {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    margin-top: 34px;
    margin-bottom: 30px;
} 

div.at_hiden1 > h3 + p ~ p {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    margin-top: 10px;
}

div.at_hiden1 > h3 + p ~ p > i {
    margin-right: 10px; 
}

div.at_hiden1 > h3 ~ p:last-child {
    margin-bottom: 35px; 
}

div.strelka {
    width: 29px;
    height: 16px;
    background: url("../img/team/arrow_hidden.svg")no-repeat, no-repeat;
    position: relative;
    bottom: 16px;
    left: 120px;
}
