   /*--------------------------
   1.Skills  - Title/text
   2.Skills - Main / Company / element
   3.Skills - Main / Our skills / element
   4.Skills - / Foother line / element
   ---------------------------*/

    /*background colous at_Skills*/

.col_bacmain {
    background-color: #fbfbfb;
}

.bac_sec {
    background-color: #222c3f;
}

.bac_main_el {
    background-color: #3d4f6f;
}

    /*colours TEXT at_Skills*/

.titles_col {
    color: #3d506f;
}

.text_col {
    color: #7f90a5;
}

.elem_tittext_col {
    color: #fff;
}

 /*Skills structure - Title/text*/

div.at_skills_title > h2, p {
    text-align: center;
} 

div.at_skills_title > h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 64px;
} 

div.at_skills_title > h2 + p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 19px;
} 

/*Skills - Main / Company / element*/   

.at_company > h3 {
    font-size: 25px;
    font-weight: 400;
    margin-top: 66px;
}

.at_company > p {
    font-size: 15px;
    text-align: left;
    margin-top: 18px;
}

.at_company > a  span {
    width: 171px;
    height: 51px;
    display: inline-block;
    text-align: center;
    padding-top: 18px;
    margin-top: 21px;
}

.at_company > a  span:hover {
    background-color: #00c7fb;
}

/*Skills - Main / Our skills / element*/
 
div.col-lg-6:last-chaild {
    float: right;
}

.at_our_skills > h3 {
    font-size: 25px;
    font-weight: 400;
    margin-top: 64px;
    margin-bottom: 22px;
    margin-left: 6px;
}

.at_our_skills > a div {
    height: 43px;
    margin-bottom: 7px;
    padding-left: 15px; 
    padding-top: 12px;
}

.at_our_skills > a {
    text-decoration: none;
}

.at_our_skills > a div:hover {
    background-color: #00c7fb;
}

.at_our_skills > h3 + a div {
    max-width: 540px;
    /*width: 100%;*/
    margin-right: 32px; 

}

.at_our_skills > a.at_Java div  {
    max-width: 540px;
    /*width: 100%;*/
    padding-left: 18px;
    margin-right: 74px; 

}

.at_our_skills > a.at_Graphic div  {
    max-width: 540px;
    /*width: 100%;*/
    padding-top: 10px;
    margin-right: 17px;
}

.at_our_skills > a:last-child div {
    max-width: 540px;
    /*width: 100%;*/
    margin-bottom: 68px;
    padding-left: 17px;
    margin-right: 43px;
}

   /*Skills - / Foother line / element*/
    

.at_skills_footer > ul > li {
    text-decoration: none;
    float: left;
}

.at_skills_footer > ul > li > div.customer + div {
    display: table-cell;
    position: relative;
    bottom: 71px;
    left: 7px;
}


div.followers, .projects, .awards, .customers {
    margin-left: 0;
    font-weight: 400;
}


div.customers {
    background-image: url('../img/skills/customers.png');
    width: 77px;
    height: 74px;
    margin-top: 63px;
    margin-right: 222px;
}

div.customers > div > h2 {
    font-size: 40px;
    margin-bottom: 4px;
    padding-left: 4px;
}

div.customers > div > p {
    font-size: 15px;
    margin-right: 2px;
    padding-left: 6px; 
}

div.customers > div {
    position: relative;
    left: 80px;
}   

div.awards {
    background-image: url('../img/skills/awards.png');
    width: 77px;
    height: 68px;
    margin-top: 66px;
    margin-right: 224px;
    text-align: center;
}

.awards > div > h2 {
    font-size: 40px;
    margin-bottom: 1px;
    margin-right: 22px;
}

div.awards > div > p {
    font-size: 15px;
    margin-top: 4px;
    margin-right: 9px;    
}

div.awards > div {
    position: relative;
    left: 80px;
}   

div.projects {
    background-image: url('../img/skills/projects.png');
    width: 57px;
    height: 71px;
    margin-top: 58px;
    margin-right: 245px;
}

div.projects > div > h2 {
    font-size: 40px;
    margin-right: 12px;
}

div.projects > div > p {
    font-size: 16px;
    margin-right: 11px;
    margin-top: 2px;

}

div.projects > div {
    position: relative;
    left: 68px;
    top: 6px;
}   

div.followers {
    background-image: url('../img/skills/followers.png');
    width: 69px;
    height: 56px;
    margin-top: 72px;
    margin-right: 197px;
    margin-bottom: 72px;
}

div.followers > div {
    position: relative;
    left: 86px;
    bottom: 6px;
}   

div.followers > div > h2 {
    font-size: 40px;

}

div.followers > div > p {
    font-size: 15px;
    margin-top: 2px;    
}

    
         /* Devices*/

                
                /*LG*/
@media only screen and (max-width:  1170px) {
    .at_company {
        text-align: center;
    }
    .at_company > p {
        font-size: 15px;
        text-align: center;
        margin-top: 18px;
    }

    .at_our_skills > h3 {
        text-align: center;    
    } 

    .at_our_skills > a div {
        margin-left: 230px;
    }
    .at_skills_footer > ul > li {
        margin-left: 140px;
    }    
    div.customers {
        margin-right: 110px;
        margin-left: 120px;
    }
    div.projects {
        margin-right: 135px;
    }
    div.awards {
        margin-right: 100px;
    }
    div.followers {
        margin-right: 50px;
    }
     .at_about_us_team > .row {
        margin-left: 70px;
    }


}
            /*MD*/
@media only screen and (max-width:  738px) {
    .at_our_skills > h3 {
        text-align: center;    
    } 

    .at_our_skills > a div {
        margin-left: 30px;
    }
    .at_skills_footer > ul > li {
        float: none;
        margin-right: 30px;
        display: inline-block;
    }    
    div.customers {
        margin-right: 0;
        margin-left: 0;
    }
    div.projects {
        margin-right: 135px;
    }
    div.awards {
        margin-right: 100px;
    }
    div.followers {
        margin-right: 50px;
    }
     .at_about_us_team > .row {
        margin-left: 50px;
    }
    

}

              /*SM*/  
@media only screen and (max-width:  460px) {
    .at_skills_footer > ul > li {
        display: inline-block;  
        float: none;
        margin-left: 5%;
    }
    .at_our_skills > h3 + a div {
        margin-right: 32px; 
    }

    .at_our_skills > a.at_Java div  {
         margin-right: 74px; 
    }

    .at_our_skills > a.at_Graphic div  {
        margin-right: 17px;
    }

    .at_our_skills > a:last-child div {
        margin-right: 43px;
    }
    .at_about_us_team {
        margin left: 50px;
    } 

}

             /*XS*/

@media only screen and (max-width:  280px) {
    .at_about_us_team > .row {
        margin-left: 0;
    }                                                                 
                                                                            
}



















