/*
1.Images
2.Gallery expand arrow
2.Media screen
*/

/*Images*/
 div.images-top .blog-1 {
    margin-left: -15px;
    position: relative;
}

div.images-top .blog-2 {
    position: relative;
    margin-left: 6px;
}

div.images-top .blog-1 > div.top-img-background {
    padding-left: 22px;
    color: white;
    width: 286px;
    height: 300px;
    background-color: #161f32;
    position: absolute;
    margin-top: -302px;
    margin-left: 286px;
}

div.images-top .blog-2 > div.top-img-background {
    padding-left: 22px;
    color: white;
    width: 286px;
    height: 300px;
    background-color: #161f32;
    position: absolute;
    margin-top: -302px;
    margin-left: 286px;
}

div.images-top div.top-img-background.triangle-left:before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #161f32;
    position: absolute;
    top: 57px;
    right: 286px;
}

section.blog div.images-top span.top-text,
section.blog div.images-middle span.top-text,
section.blog div.images-bottom span.top-text {
    display: inline-block;
    font-size: 25px;
    font-weight: 400;
    margin-top: 25px;
    word-spacing: 2px;
    margin-bottom: 26px;
    line-height: 28px;
}



section.blog div.images-top span.mid-text,
section.blog div.images-middle span.mid-text,
section.blog div.images-bottom span.mid-text {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 23px;
}

section.blog div.images-top span.bottom-text,
section.blog div.images-middle span.bottom-text,
section.blog div.images-bottom span.bottom-text {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    word-spacing: 2px;
    line-height: 16px;
    width: 240px;
}

div.images-top > div img.top-img {
    height: 300px;
    width: 286px;
}

div.images-middle > div img.mid-img-left {
    margin-top: 30px;
    height: 300px;
    width: 770px;
}

div.images-middle .blog-3 {
    margin-left: -15px;
    position: relative;
} 

div.images-middle .blog-3 > div.mid-img-left-background {
    padding-left: 23px;
    color: white;
    width: 770px;
    height: 300px;
    background-color: #161f32;
    position: absolute;
    margin-top: -302px;
}

div.images-middle div.mid-img-left-background > span.bottom-text {
    width: 733px;
}

div.images-middle > div img.mid-img-right {
    margin-top: 30px;
    margin-left: 12px;
    height: 300px;
    width: 375px;
}

div.images-middle .blog-4 {
    position: relative;
}

div.images-middle .blog-4 > div.mid-img-right-background {
    padding-left: 22px;
    margin-top: -3px;
    margin-left: 12px;
    color: white;
    width: 375px;
    height: 332px;
    background-color: #161f32;
    position: absolute;
}

div.images-middle div.mid-img-right-background > span.bottom-text {
    width: 330px;
}

div.images-middle div.mid-img-right-background.triangle-up:before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #161f32;
    position: absolute;
    top: -15px;
    right: 288px;
}

div.images-bottom div img.bottom-img1 {
    margin-top: 28px;
    margin-left: -15px;
    height: 301px;
    width: 370px;
}

div.images-middle .blog-3 {
    position: relative;
}

div.images-middle .blog-4 {
    position: relative;
}

div.images-bottom div img.bottom-img2 {
    margin-top: 28px;
    height: 301px;
    width: 370px;
}

div.images-middle .blog-5 {
    position: relative;
}

div.images-middle .blog-6 {
    position: relative;
}

div.images-bottom .blog-5 > div.bottom-img-background {
    padding-left: 22px;
    margin-top: -2px;
    margin-left: -15px;
    color: white;
    width: 370px;
    height: 301px;
    top: 30px;
    background-color: #161f32;
    position: absolute;
}

div.images-bottom .blog-6 > div.bottom-img-background {
    padding-left: 22px;
    margin-top: -2px;
    color: white;
    width: 370px;
    height: 301px;
    top: 30px;
    background-color: #161f32;
    position: absolute;
}

div.images-bottom div.bottom-img-background > span.bottom-text {
    width: 330px;
}

/*Gallery expand arrow*/
div.arrow-button {
    text-align: center;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    margin: 26px auto 61px auto;  
}

div.arrow-button a {
    display: inline-block;
    padding: 17px;
}

div.arrow-button:hover {
    background-color: #00c7fb;
    transition: 0.4s;
}

/*Media screen*/
/*Desktops*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    div.images-top > div:first-child {
        margin-left: 5px;
    }

    div.images-top > div:last-child {
        margin-top: 30px;
        left: -15px;
    }

    div.blog-5 {
        margin-bottom: 400px;
        margin-left: 400px;
    }

    div.blog-4 {
        margin-left: -30px;
    }

    div.images-bottom > div:first-child {
        margin-top: -332px;
    }

    div.images-bottom > div:last-child {
        margin-left: -52px;   
    }

    div.images-top,
    div.images-middle,
    div.images-bottom {
        margin-left: 65px;
    }
}

/*Tablets*/
@media (min-width: 768px) and (max-width: 991.98px) {
    div.images-top > div:last-child {
        margin-top: 30px;
        margin-left: -20px;
    }

    div.blog-4 {
        margin-left: -30px;
    }

    div.blog-5 {
        margin-bottom: 400px;
        margin-left: 400px;
    }

    div.images-bottom > div:first-child {
        margin-top: -332px;
    }

    div.images-bottom > div:last-child {
        margin-top: -400px;
        margin-left: 382px;
    }

    div.images-top,
    div.images-middle,
    div.images-bottom {
        margin-left: -35px;
    }
}

/*Small devices*/
@media (min-width: 576px) and (max-width: 767.98px) {
    div.images-top > div:first-child {
        margin-left: 15px;
    }

    div.images-top > div:last-child {
        margin-left: -5px;
        margin-top: 30px;
    }

    div.images-middle .blog-3 {
        display: none;
    }

    div.images-middle .blog-4 {
        margin-left: -10px;
    }

    div.images-bottom > div:first-child {
        margin-top: 350px;
        margin-left: 15px;
    }

    div.images-bottom div img.bottom-img1, 
    div.images-bottom .blog-5 > div.bottom-img-background {
        width: 376px;
    }

    div.images-bottom div img.bottom-img2,
    div.images-bottom .blog-6 > div.bottom-img-background {
        width: 376px;
    }

    form div.input-field.email{
        margin-bottom: 10px;
    }
}

/*Extra small devices1*/
@media (min-width: 401px) and (max-width: 575.98px) {
    div.images-top > div:first-child {
        margin-left: 0px;
    }

    div.images-top > div img.top-img {
        height: 300px;
        width: 374px;
    }

    div.images-top .blog-1 > div.top-img-background {
        padding-left: 22px;
        margin-top: -3px;
        margin-left: 0px;
        color: white;
        width: 374px;
        height: 332px;
        background-color: #161f32;
        position: absolute;
    }

    div.images-top div.top-img-background.triangle-left:before {
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 0px solid #161f32;
    }

    div.images-top div.top-img-background.triangle-up:before {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #161f32;
        position: absolute;
        top: -15px;
        right: 286px;
    }

    div.images-top div.top-img-background > span.bottom-text {
        width: 320px;
    }

    div.images-top > div:last-child {
        margin-top: 375px;
        margin-left: -20px;
        margin-bottom: 345px;
    }

    div.images-top .blog-2 > div.top-img-background {
        padding-left: 22px;
        margin-top: -3px;
        margin-left: 0px;
        color: white;
        width: 374px;
        height: 332px;
        background-color: #161f32;
        position: absolute;
    }

    div.blog-3 {
        display: none;
    }

    div.images-middle > div:last-child {
        margin-left: -25px;
    }

    div.images-bottom > div:first-child {
        margin-top: 350px;
    }

    div.images-bottom div img.bottom-img1 {
        width: 375px;
    }

    div.images-bottom .blog-5 > div.bottom-img-background {
        width: 375px;
    }

    div.images-bottom > div:last-child {
        margin-top: 20px;
        margin-left: -15px;
    }

    div.images-bottom div img.bottom-img2,
    div.images-bottom .blog-6 > div.bottom-img-background {
        width: 375px;
    }

    form div.input-field.email{
        margin-bottom: 10px;
    }
}

/*Extra small devices2*/
@media (max-width: 400px) {
    div.images-top > div:first-child {
        margin-left: 14px;
    }

    div.images-top > div:last-child {
        margin-top: 360px;
        margin-left: -7px;
        margin-bottom: 329px;
    }

    div.images-top > div img.top-img {
        height: 340px;
        width: 318px;
    }

    div.images-top .blog-1 > div.top-img-background {
        padding-left: 15px;
        margin-top: -3px;
        margin-left: 0px;
        color: white;
        width: 318px;
        height: 340px;
        background-color: #161f32;
        position: absolute;
    }

    div.images-top div.top-img-background.triangle-left:before {
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 0px solid #161f32;
    }

    div.images-top div.top-img-background.triangle-up:before {
        content: '';
        display: block;
        width: 0px;
        height: 0px;    
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #161f32;
        position: absolute;
        top: -15px;
        right: 286px;
    }

    div.images-top div.top-img-background > span.bottom-text {
        width: 270px;
    }


    div.images-top .blog-2 > div.top-img-background {
        padding-left: 15px;
        margin-top: -3px;
        margin-left: 0px;
        color: white;
        width: 318px;
        height: 340px;
        background-color: #161f32;
        position: absolute;
    }

    div.blog-3 {
        display: none;
    }

    div.images-middle > div:last-child {
        margin-left: -13px;
    }

    div.images-middle div img.mid-img-right,
    div.images-middle .blog-4 > div.mid-img-right-background {
        width: 318px;
        height: 340px;
    }

    div.images-middle div.mid-img-right-background.triangle-up:before {
        left: 32px;
    }

    div.images-middle div.mid-img-right-background > span.bottom-text {
        width: 270px;
    }

    div.images-bottom > div:first-child {
        margin-top: 332px;
        margin-left: 14px;
    }

    div.images-bottom div img.bottom-img1,
    div.images-bottom .blog-5 > div.bottom-img-background {
        width: 318px;
        height: 340px;
    }

    div.images-bottom div img.bottom-img2,
    div.images-bottom .blog-6 > div.bottom-img-background {
        width: 318px;
        height: 340px;
    }

    div.images-bottom div.bottom-img-background > span.bottom-text {
        width: 280px;
    }

    div.images-top,
    div.images-middle,
    div.images-bottom {
        margin-left: -28px;
    }
}