
.clear {
    display: block;
    content: '';
    clear: both;
}

    /*Stanislav*/
 /*Header&Section st_ services*/

/*Text colors*/
.st_color_logo {
    color: #161f32;
}

.st_color_white {
    color: #ffffff;
}

.st_darkb_text {
    color: #3d506f;
}

.st_lightb_text {
    color: #7f90a5;
}

/*Background colors*/
.st_dark_blue {
    background-color: #222c3f;
}

.st_light_blue {
    background-color: #546279;
}


.st_shell {
    max-width: 1170px;
    margin: 0 auto;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}


   /*Stanislava*/
/*Common*/

.zh_shell {
    max-width: 1170px;
    margin: 0 auto;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.nopadding_col {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/*Colors*/

.zh_h2_text_color {
    color: #3d506f;
}

.zh_desc_text_color {
    color: #7f90a5;
}

.zh_background_color {
    background-color: #151f31;
}

.zh_desc_backgr_color {
    background-color: #3d506f;
}


        /*Svetoslav*/
    /*Section at_ Skills*/

section#at_skills {
    font-family: 'latoregular';
   }

.at_skills_conteiner, .at_skills_footer {
    max-width: 1170px;
    left: 0;
    right: 0;
    margin: auto;
}   


/*Section at_About_us */

section#at_about_us {
    font-family: 'latoregular';
   
}


.at_about_us_conteiner {
    max-width: 1170px;
    left: 0;
    right: 0;
    margin: auto;
   /* background-color: #C1721D;*/
}   


   /*Ali Said*/

section#sa_blog {
    font-family: 'latoregular';
    min-height: 1810px;
}

.sa_buttons_container {
    max-width: 1170px;
    left: 0;
    right: 0;
    margin: auto;
}

 /*Ali Osman*/
section#os_clients {
    margin-top: 20px;
    font-family: 'latoregular';
    min-height: 648px;
}
.os_clients_container
{
    max-width: 1270px;
    left: 0;
    right: 0;
    margin: auto;
}
.os_shell {
    min-height: 327px;
    background-color: #151f31;
}
.os_shell_2 {
    min-height: 320px;
    background-color: #fff;
}
section#os_contact_us{
    min-height: 945px;
    background-color: #151f31;
}
.os_container_contact
{
    max-width: 1170px;
    left: 0;
    right: 0;
    margin: auto;
}
.os_shell_contact {
    font-family: 'latoregular';
}
footer#os_end
{
    min-height: 152px;
    background-color: #161f32;
}
