.clear:after {
    display: block;
    content: '';
    clear: both;
}
.shell {
    max-width: 1170px;
    margin: 0 auto;
}
 #about_us, #skills {
    font-family: 'latoregular';
    font-weight: 400;
}   
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.nopadding_col {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
    /*TEXT Colors*/
.white_clr {
    color: #fff;
}
.lgrey_clr {
    color: #c8cacf;
}
.grey_clr {
    color: #90959F;
}
.blgrey_clr {
    color: #7f90a5;
}
.dgrey_clr {
    color: #8a8f98;
}
.blue_clr {
    color: #3d506f; 
}
.dblue_clr {
    color: #161f32;
}
    /*BACKGROUNDS Colors*/
.gwhite_bclr {
    background-color: #fbfbfb;
}
.lblue_bclr {
    background-color: #546279;
}
.blue_bclr {
    background-color: #151f31;
}
.gblue_bclr {
    background-color: #3d4f6f;
}
.denim_bclr{
    background-color: #3d506f;
}
.denimdark_bclr {
    background-color: #222c3f;
}
.dblue_bclr {
    background-color: #161f32;;
}
.pink_bclr {
    background-color: #f646df;
}