/*------
1.Main services
2.H2 content
3.P content
4.Text content
-------*/

/*Main Services*/
.title-content {
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
/*Header content*/
.col-lg-12 > h2 {
    padding-top: 30px;
    font-size: 30px;
    color: #3d506f;
    font-weight: 400;
    font-family: 'latobold';
}
/*Text content*/
 .text-main {
    padding-top: 24px;
    padding-bottom: 30px;
    font-size: 20px;
    color: #7f90a5;
    font-weight: 400;
    font-family: 'latobold';
}

.text-service {
    font-family: 'latoregular';
    padding-top: 30px;
    font-size: 15px;
    color: #7f90a5;
    font-weight: 400;   
}

.sub-text {
    font-family: 'latoregular';
    font-size: 15px;
    color: #7f90a5;
    font-weight: 400;   
}

.sub-text-1 {
    font-family: 'latoregular';
    font-size: 15px;
    color: #7f90a5;
    font-weight: 400;
    margin-bottom: 70px;   
}
/*Service title-head*/
.title-head {
    font-size: 20px;
    color: #3d506f;
    font-weight: 400;
    font-family: 'latobold';
    padding-bottom: 30px;
}
/*Icon content*/
.icon-main {
    margin: 25px auto;
    padding: 35px 4px;
    width: 106px;
    height: 106px;
    border-radius: 53px;
    background-color: #3d506f;
}