/***************************
1-Text
2-Seperactor
3-Icon text
4-Forms
5-Submit
6-Screen width
****************************/

/*Text*/

div .tx_contact_title {
    color:#fff;
    margin-top: 68px;
}

div .tx_conct {
    font-size: 20px;
    font-weight: 400;
    color:#fff;
    text-align: center;
    margin-top: 24px;
}
div .donec {
    font-size: 15px;
    color:#fff;
    font-weight: 400;
    text-align: center;
    margin-top: 75px;
}


/*Seperactor*/ 

/*div .blue-separator {
    top: 42px;
}*/

div .contact_icon {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

div .contact_icon h2 {
    margin-top: 25px;
}

div .contact_icon h2 + p {
    margin-top: 18px;
    margin-bottom: 20px;
}

/*Forms*/
form input.input-fielde {
    max-width: 368px;
    height: 65px;
    width: 100%;
    background-color: #151f31;
    border: 1px solid #fff;
    margin-top: 36px;
    color:#fff;
    padding:0 24px;
}

form input.input-fielde::placeholder {
    font-style: italic;
    color: #fff;
}

form input.message-box {
    max-width: 1167px;
    height: 211px;
    width: 100%;
    background-color: #151f31;
    border: 1px solid #ffffff;
    margin-top: 30px;
    padding: 0px 20px 156px 20px;
    text-align: left;
    color: #fff;
}

form input.message-box::placeholder {
    font-style: italic;
    color: #fff;
}


/*Submit*/
div .submit {
    text-align: center;
}

form input.submit-text {
    width: 235px;
    height: 67px;
    background-color: #fff;
    margin-top: 32px;
    border:none;
}

form input.submit-text:hover {
    background-color: #00c7fb;
    transition: 0.3s;
}

/*Screen width*/

@media only screen and (max-width: 813px) {
    form input.input-fielde
    {
        max-width: 800px;
    }
}

/*Small device Vertical*/
@media only screen and (max-width: 415px) {
    /*Seperactor*/
    div .circle-blue .line-blue:after, .line-blue:before {
        width: 145px;
    }
    div .circle-blue .circle-blue {
        width: 14px;
        height: 14px;
    }
    div .circle-blue .line-blue:before {
        right: 12px;
    }
    div .circle-blue .line-blue:after {
        left: 12px;
    }

    /*Forms*/

    form input.input-fielde{
        max-width: 380px;   
    }
}