div.arctica-end
{
	font-family: 'molleregular';
	font-weight: 400;
	font-size: 37px;
	color:#fff;
	text-align: center ;
	margin-top: 60px;
}
div .end
{
	font-family: 'latoregular';
	font-size: 11px;
	color:#8a8f98;
	font-weight: 300;
	margin-top: 13px;
	margin-left: 10px;
}