/*--------
1.Separator white
2.Separator blue
----------*/


/*Separator white*/
.st_separator {
    text-align: center;
    position: relative;
    margin: 0 auto;
}
.st_separator .st_line {
    position: relative;
    display: inline;
}

.st_separator .st_line:after, 
              .st_line:before {
    content:'';
    width: 274px;
    height: 1px;
    background-color: #7f90a5;
    position: absolute;
}

.st_separator .st_line:after {
    left: 15px;
}

.st_separator .st_line:before {
    right: 15px;
}

.st_separator .st_circle {
    width: 15px;
    height: 15px;
    border: 1px solid #7f90a5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    margin:auto;
    border-radius: 8px;
    position: absolute;
    display: inline-block;
}

/*Smaller devices*/

@media only screen and (max-width: 736px)
{
    .st_separator .st_line:before {
        width: 145px;
    }

    .st_separator .st_line:after {
        width: 145px;
    }

    .st_separator .st_circle {
        width: 14px;
        height: 14px;
    }
    .st_separator:before {
        right: 12px;
    }
    .st_separator .st_line:after {
        left: 12px;
    }
}

/*Separator blue*/

.st_separator-1 {
    text-align: center;
    position: relative;
    margin: 0 auto;
}
.st_separator-1 .st_line-1 {
    position: relative;
    display: inline;
}

.st_separator-1 .st_line-1:after, 
              .st_line-1:before {
    content:'';
    width: 274px;
    height: 1px;
    background-color: #8796ab;
    position: absolute;
}

.st_separator-1 .st_line-1:after {
    left: 15px;
}

.st_separator-1 .st_line-1:before {
    right: 15px;
}

.st_separator-1 .st_circle-1 {
    width: 15px;
    height: 15px;
    border: 1px solid #8796ab;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    margin:auto;
    border-radius: 8px;
    position: absolute;
    display: inline-block;
}

/*Smaller devices*/

@media only screen and (max-width: 736px)
{
    .st_separator-1 .st_line-1:before {
        width: 145px;
    }

    .st_separator-1 .st_line-1:after {
        width: 145px;
    }

    .st_separator-1 .st_circle-1 {
        width: 14px;
        height: 14px;
    }
    .st_separator-1:before {
        right: 12px;
    }
    .st_separator-1 .st_line-1:after {
        left: 12px;
    }
}